<!DOCTYPE html>
<html>
<head>
  <title>DbClone</title>
  <%= stylesheet_link_tag    "db_clone/application", media: "all" %>
  <%= javascript_include_tag "db_clone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
